sisacad/node_modules/

sisacad/dist/
sisacad/build/
sisacad/students.csv
sisacad/teachers.csv
sisacad/secretaries.csv
sisacad/admins.csv
sisacad/courses.csv

*.sql

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

sisacad/.env
sisacad/.prettierrc

.DS_Store
*.swp
*.tmp

